.tree-root {
    width: 100%;
    height: 100%;
}

.tree-0-b {
    background-image: url('../../../../assets/trees/sprout.png');
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tree-0-s {
    background-image: url('../../../../assets/trees/tree11.png');
    background-size: contain;
}

.tree-0-m {
    background-image: url('../../../../assets/trees/tree12.png');
    background-size: contain;
}

.tree-0-l {
    background-image: url('../../../../assets/trees/tree13.png');
    background-size: contain;
}

.tree-1-b {
    background-image: url('../../../../assets/trees/sprout.png');
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tree-1-s {
    background-image: url('../../../../assets/trees/tree21.png');
    background-size: contain;
}

.tree-1-m {
    background-image: url('../../../../assets/trees/tree22.png');
    background-size: contain;
}

.tree-1-l {
    background-image: url('../../../../assets/trees/tree23.png');
    background-size: contain;
}

.tree-2-b {
    background-image: url('../../../../assets/trees/sprout.png');
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tree-2-s {
    background-image: url('../../../../assets/trees/tree31.png');
    background-size: contain;
}

.tree-2-m {
    background-image: url('../../../../assets/trees/tree32.png');
    background-size: contain;
}

.tree-2-l {
    background-image: url('../../../../assets/trees/tree33.png');
    background-size: contain;
}

.tree-4-b {
    background-image: url('../../../../assets/trees/sprout.png');
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tree-4-s {
    background-image: url('../../../../assets/trees/tree41.png');
    background-size: contain;
}

.tree-4-m {
    background-image: url('../../../../assets/trees/tree42.png');
    background-size: contain;
}

.tree-4-l {
    background-image: url('../../../../assets/trees/tree43.png');
    background-size: contain;
}
