.tree-root {
    width: 100%;
    height: 100%;
}

.tree-0-1 {
    background-image: url('../../../../assets/trees/sprout.png');
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tree-0-2 {
    background-image: url('../../../../assets/trees/tree11.png');
    background-size: contain;
}

.tree-0-3 {
    background-image: url('../../../../assets/trees/tree12.png');
    background-size: contain;
}

.tree-0-4 {
    background-image: url('../../../../assets/trees/tree13.png');
    background-size: contain;
}

.tree-1-1 {
    background-image: url('../../../../assets/trees/sprout.png');
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tree-1-2 {
    background-image: url('../../../../assets/trees/tree21.png');
    background-size: contain;
}

.tree-1-3 {
    background-image: url('../../../../assets/trees/tree22.png');
    background-size: contain;
}

.tree-1-4 {
    background-image: url('../../../../assets/trees/tree23.png');
    background-size: contain;
}

.tree-2-1 {
    background-image: url('../../../../assets/trees/sprout.png');
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tree-2-2 {
    background-image: url('../../../../assets/trees/tree31.png');
    background-size: contain;
}

.tree-2-3 {
    background-image: url('../../../../assets/trees/tree32.png');
    background-size: contain;
}

.tree-2-4 {
    background-image: url('../../../../assets/trees/tree33.png');
    background-size: contain;
}

.tree-4-1 {
    background-image: url('../../../../assets/trees/sprout.png');
    background-size: contain;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tree-4-2 {
    background-image: url('../../../../assets/trees/tree41.png');
    background-size: contain;
}

.tree-4-3 {
    background-image: url('../../../../assets/trees/tree42.png');
    background-size: contain;
}

.tree-4-4 {
    background-image: url('../../../../assets/trees/tree43.png');
    background-size: contain;
}
