.playerPanel-root {
    width: 300px;
    border: 1px solid black;
    box-sizing: border-box;
}

.playerPanel-title {
    font-size: 14pt;
    text-align: center;
}

.playerPanel-title-h2 {
    font-size: 16pt;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-top: 3px;
    letter-spacing: 2px;
}

.resources-shop {
    display: flex;
    height: 80px;
}

.shop-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-num {
    text-align: center;
}

.shop-title-0-b {
    background-image: url('../../../assets/trees/sprout.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 30px;
}

.shop-title-0-s {
    background-image: url('../../../assets/trees/tree11.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-0-m {
    background-image: url('../../../assets/trees/tree12.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-0-l {
    background-image: url('../../../assets/trees/tree13.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-1-b {
    background-image: url('../../../assets/trees/sprout.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 30px;
}

.shop-title-1-s {
    background-image: url('../../../assets/trees/tree21.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-1-m {
    background-image: url('../../../assets/trees/tree22.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-1-l {
    background-image: url('../../../assets/trees/tree23.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-2-b {
    background-image: url('../../../assets/trees/sprout.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 30px;
}

.shop-title-2-s {
    background-image: url('../../../assets/trees/tree31.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-2-m {
    background-image: url('../../../assets/trees/tree32.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-2-l {
    background-image: url('../../../assets/trees/tree33.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-3-b {
    background-image: url('../../../assets/trees/sprout.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 30px;
}

.shop-title-3-s {
    background-image: url('../../../assets/trees/tree41.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-3-m {
    background-image: url('../../../assets/trees/tree42.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}

.shop-title-3-l {
    background-image: url('../../../assets/trees/tree43.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    background-size: 50px;
}
